# Getting the Data

In [1]:
import facebook

In [2]:

token = '465406930468068|8e5e0af18cdd664fb0f0126686b3c821'

graph = facebook.GraphAPI(access_token=token, version='2.7')

In [3]:
graph_dict = graph.get_connections('24369314439', connection_name='posts')

In [4]:
graph_dict.keys()

[u'paging', u'data']

In [5]:
data = graph_dict['data']

In [6]:
import pandas as pd
df = pd.DataFrame(data)

The data as a table.

In [7]:
df.head()

,created_time,id,message,story
0,2017-06-12T09:46:14+0000,24369314439_10154944302089440,Supporters of Putin-critic Alexei Navalny are ...,NaN
1,2017-06-12T08:39:39+0000,24369314439_10154944182269440,For all of our coverage in the run-up to the G...,NaN
2,2017-06-12T07:41:03+0000,24369314439_10154944052244440,"Cheering, hundreds entered the EU in what Pres...",NaN
3,2017-06-12T06:39:55+0000,24369314439_10154943939884440,UK PM Theresa May's plan to recruit Northern I...,NaN
4,2017-06-12T05:47:15+0000,24369314439_10154942072974440,The first bicycle ride took place 200 years ag...,NaN

In [8]:
df['time'] = pd.to_datetime(df.created_time)

In [9]:
df.time

0    2017-06-12 09:46:14
1    2017-06-12 08:39:39
2    2017-06-12 07:41:03
3    2017-06-12 06:39:55
4    2017-06-12 05:47:15
5    2017-06-12 04:47:00
6    2017-06-12 04:32:28
7    2017-06-12 04:03:00
8    2017-06-12 02:03:00
9    2017-06-12 00:03:00
10   2017-06-11 22:03:00
11   2017-06-11 20:03:00
12   2017-06-11 18:03:00
13   2017-06-11 15:53:04
14   2017-06-11 15:09:07
15   2017-06-11 14:23:31
16   2017-06-11 13:21:48
17   2017-06-11 12:23:12
18   2017-06-11 11:38:34
19   2017-06-11 10:47:57
20   2017-06-11 09:49:59
21   2017-06-11 09:03:00
22   2017-06-11 07:02:00
23   2017-06-11 05:03:00
24   2017-06-11 03:01:00
Name: time, dtype: datetime64[ns]

# Named Entity Recognition

In [10]:
import spacy
nlp = spacy.load('en')

In [ ]:
def preprocess_text(text):

In [23]:
def get_named_entities(text):
    doc = nlp(text)
    out = [{'label':ent.label_, 'text':ent.text} for ent in doc.ents]
    return out

In [24]:
df['named_entities'] = df.message.apply(get_named_entities)

In [22]:
df.message.iloc[0]

u"Supporters of Putin-critic Alexei Navalny are expected to mark Monday's public holiday with over 200 rallies nationwide. Navalny will lead the Moscow protest, which has the potential to turn violent."

In [28]:
df.named_entities[3]

[{'label': u'GPE', 'text': u'UK'},
 {'label': u'PERSON', 'text': u"Theresa May's"},
 {'label': u'LOC', 'text': u'Northern Ireland'},
 {'label': u'GPE', 'text': u'Dublin'},
 {'label': u'GPE', 'text': u'Brexit'},
 {'label': u'LOC', 'text': u'Europe'}]